.link {
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 15px;
  border: 1px solid var(--outline);
  cursor: pointer;
  transition: 0.6s;
  font-size: 16px;
  color: var(--black);
  margin-top: 10px;
}

.link:hover {
  border: 1px solid var(--black);
}

.arrow {
  margin-left: auto;
  position: relative;
  transform: translateY(-2px);
}

.red {
  background-color: var(--red);
}

.green {
  background-color: var(--green);
}

.grey {
  background-color: var(--grey-item);
}

.bold {
  font-weight: 700;
}
